.button {
    box-shadow: -5px 5px 0px 0px #e0e0e0;
    border: 2px;
    height: 35px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-transform: uppercase;
    font-size: theme('fontSize.xl');
    font-weight: theme('fontWeight.bold');
    transition:
        box-shadow 0.1s ease,
        transform 0.1s ease;
}

.button:global(.yellow) {
    background-color: #ffef2e;
    border-color: #ffef2e;
}

.button:disabled {
    cursor: not-allowed;
}

.button:not(:disabled):active {
    box-shadow: none;
    transform: translate(-5px, 5px);
}
