.listWrapper :global(a) {
    cursor: url('https://probewtf.fra1.cdn.digitaloceanspaces.com/cursor-probe.png'),
        auto;
}

.listFetchingIndicator {
    position: fixed;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(12.5px);
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nounLink {
    position: relative;
    display: block;
    border-style: solid;
    border-width: 1px;
}

.auctionedNoun {
    border-color: #ffef2e;
}

.nonAuctionedNoun {
    border-color: transparent;
}

.nounLink > .nounLinkLabel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.25rem;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    white-space: nowrap;
    font-size: theme('fontSize.xs');
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.2s ease;
}

.nounLink:hover > .nounLinkLabel {
    opacity: 1;
    transform: translateY(0);
}
