.switch {
    width: 55px;
    height: 22px;
    background-color: #2b83f6;
    display: flex;
    justify-content: flex-start;
    border-radius: 9999px;
    cursor: pointer;
    padding: 4px;
}

.switch[data-isOn='true'] {
    justify-content: flex-end;
}

.handle {
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 999px;
}
