.detailsWrapper {
    transform: translateY(-1.5rem);
}

.detailsWrapper > .heading {
    margin-bottom: 3rem;
}

.detailsWrapper > .body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.detailsWrapper > .body > .content > *:not(:last-child) {
    margin-bottom: 1.5rem;
}

.detailsWrapper > .body > .content > .dob {
    font-size: 11px;
    font-weight: 700;
}

.sectionTitle {
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.dlItemInline > dt {
    margin-right: 0.25rem;
}

.dt {
    font-weight: bold;
    color: #858585;
    font-size: 13px;
    display: inline-block;
}

.dd {
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
}

.attributeLink {
    text-decoration: underline;
}

.colorList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

@media screen and (min-width: 768px) and (orientation: landscape) {
    .pageWrapper {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .detailsWrapper {
        grid-column: span 2 / span 2;
        transform: translateY(0);
    }

    .detailsWrapper > .heading {
        font-size: 124px;
    }

    .detailsWrapper > .body {
        display: flex;
        justify-content: center;
    }

    .imageWrapper {
        grid-column: span 3 / span 3;
        order: 2;
    }
}
