.searchSelectWrapper.solidBoxShadow {
    box-shadow: 8px 6px 0px #dfdfdf;
}

.searchSelectWrapper.blurredBoxShadow {
    box-shadow: 0px 4px 16.5px rgba(0, 0, 0, 0.1);
}

.searchSelectWrapper:not(:disabled):focus-within {
    box-shadow: none;
}

.searchSelectLabel {
    position: absolute;
    left: 1rem;
    top: 0.375rem;
}

.searchSelectInput {
    height: 72px;
    width: 100%;
    border: 1px solid #d5d7e1;
    background: #ffffff;
    padding-left: 1rem;
    padding-right: 2rem;
    outline: none;
    font-size: 26px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchSelectInput::placeholder {
    color: #000000;
}

.searchSelectWrapper .searchSelectLabel + .searchSelectInput {
    padding-top: 1rem;
}

.searchSelectOptions {
    position: absolute;
    z-index: 10;
    margin-top: 0.5rem;
    max-height: 14rem;
    width: 100%;
    overflow: auto;
    background-color: #fff;
    padding-top: 0.25rem;
    border: 1px solid #d5d7e1;
    box-shadow: 0px 4px 16.5px 4px rgba(0, 0, 0, 0.1);
}

.searchSelectOption {
    position: relative;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.searchSelectOption[data-focus] {
    background-color: rgba(213, 215, 225, 0.29);
}

.searchSelectOptionImg {
    height: 1.5rem;
    width: 1.5rem;
    flex-shrink: 0;
}
