.select {
    box-shadow: 8px 6px 0px #dfdfdf;
    height: 72px;
    width: 100%;
    border: 1px solid #d5d7e1;
    background: #ffffff;
    padding-left: 1rem;
    padding-right: 2rem;
    outline: none;
    font-size: 26px;
    text-transform: uppercase;
    appearance: none;
    background-image: url('https://probewtf.fra1.cdn.digitaloceanspaces.com/misc/chevron-down.png');
    background-size: 0.5rem;
    background-repeat: no-repeat;
    background-position: top 50% right 1rem;
}
