@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ComicSansMS-Bold';
    src: url('/fonts/ComicSansMS-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'ComicSansMS-Bold', sans-serif;
}

body {
    text-transform: uppercase;
}

a[aria-disabled='true'] {
    cursor: not-allowed; /* Changing cursor to indicate no interaction is possible */
    pointer-events: none; /* Preventing all click events on the link */
}

button {
    text-transform: uppercase;
}

.text-link {
    color: #2b83f6;
    font-weight: theme('fontWeight.bold');
    text-decoration: underline;
}
