@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    text-transform: uppercase;
}

a[aria-disabled='true'] {
    cursor: not-allowed; /* Changing cursor to indicate no interaction is possible */
    pointer-events: none; /* Preventing all click events on the link */
}

button {
    text-transform: uppercase;
}

.text-link {
    color: #2b83f6;
    font-weight: theme('fontWeight.bold');
    text-decoration: underline;
}
