.filters {
    display: flex;
    flex-direction: column;
    padding-right: 0.5rem;
    padding-bottom: 6px;
}

.filters > :global(*):not(:last-child) {
    margin-bottom: 1rem;
}

@media screen and (min-width: theme('screens.xl')) {
    .filters {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 1rem;
    }

    .filters > :global(*):not(:last-child) {
        margin-bottom: auto;
    }
}
