.filterSortBtn {
    font-size: 13px;
}

.filterSortBtnIcon {
    height: 0.75rem;
    width: 0.75rem;
}

.projectSwitcherLink {
    font-size: 13px;
}

.projectSwitcherLink[data-state='inactive'] {
    color: #6c6c6c;
}
